.inventory-container{
    border: 1px solid grey;
    width: 5000px;
    padding: 10px;
}

.id-col{
    border: 3px solid whitesmoke;
}

.id-col-form {
    width: 10000px;
    /* height: 50px; */
    position: relative;
    margin-left: 10px;
    /* display: flexbox; */
}
